* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
}

input, button, select {
  outline: none;   
  border-color: transparent; 
  background: none;
  border: none;
  -webkit-appearance:none; 
}

a {
  text-decoration:none
}